/* styles.css */

.styled-container {
    background-color: #ffffff;
    padding: 20px;
    text-align: justify;
}

h1 {
    color: rgb(65, 65, 65);
}

p {
    width: 90%;
    margin: 0 auto;
    color: rgb(20, 20, 20);
}

.styled-container p {
    margin-bottom: 15px; /* Add margin after each paragraph */
}

.h5p-container {
    height: 100vh;
    overflow: hidden;
}
